<template name="schedules">
	{{#each sprintList}} 
	<div id="schedules" class="row">
		<div class="col-md-12">
			
			<div class="panel panel-default">
			 	 <!-- Default panel contents -->
			  	<div class="panel-heading">
				  	{{iteration.startString}}&mdash;{{iteration.endString}}:
			  	</div>
			  	<div class="panel-body">
				  	<div class="row">
						<div class="col-md-12">
						
				    		
				    		<div class="col-md-12" >
				    			
								<table class="iteration-table table table-bordered">
									<thead>
										<tr>
							    			<td class="cal-header">&nbsp;</td>
							    			<td class="cal-header">&nbsp;</td>
							    			{{#each iteration.iterationDays}}
							    				{{#each ../userCounts}}
							    					<td class="cal-header"><div class="calHeaderDates"><div>{{name}}</div></div></td>
										    	{{/each}}
								    		{{/each}}
							    		</tr>
							    		<tr>
							    			<td class="cal-header">&nbsp;</td>
							    			<td class="cal-header">&nbsp;</td>
							    			{{#each iteration.iterationDays}}
							    					<td class="cal-header day-end" colspan="{{../iteration.userCount}}">{{time}}</td>
								    		{{/each}}
							    		</tr>
					    			</thead>
					    			<tbody id="interation-hours">
							    		{{#each features}}
							    		<tr>
							    			<td class="sprint-feature">{{name}}</td>
							    			<td class="sprint-total">0</td>
							    			{{#each ../iteration.iterationDays}}
							    				{{#each ../../userCounts}}
										    		<td class="hour-cell"><span>0</span></td>
										    	{{/each}}
								    		{{/each}}
							    		</tr>
							    		{{/each}}
						    		</tbody>
						    		<tfoot>
						    			<tr>
							    			<td>Totals</td>
							    			<td>&nbsp;</td>
							    			{{#each iteration.iterationDays}}
							    				{{#each ../userCounts}}
										    		<td class="column-{{key}}-total">0</td>
										    	{{/each}}
								    		{{/each}}
							    		</tr>
						    		</tfoot>
								</table>
								
						    </div>
	    
			    		</div>
		    		</div>
			  	</div>
			</div>
	    </div>
	    
	</div>
	{{/each}}
	
</template>