<template name="milestones">
	<table>
		{{#each milestones}}
			<tr class="milestone-{{toHexString id}}">
				<td>{{date}}</td>
				<td>{{name}}</td>
			    <td class="pull-remove"><i class="icon-remove"></i></td>
			</tr>
		{{/each}}
	</table>

	<div class="input-append ">
	    <input type="text" placeholder="Milestone"  class="span3 modal-group" name="milestone-name" value="">
	    <input type="text" placeholder="Date"  class="span2 modal-group dateFinder" name="milestone-date" value="">
	    <button class="btn" id="addMilestone" type="button">Add</button>
	</div>
	    
</template>