<template name="navtabs">

    <ul class="nav nav-tabs">
	    <li class="{{active '/'}}"><a href="{{pathFor 'home'}}">Home</a></li>
	    <li class="{{active '/schedules'}}"><a href="{{pathFor 'schedules'}}">Schedules</a></li>
	    <li class="{{active '/projects'}}"><a href="{{pathFor 'projects'}}">Projects</a></li>
	    <li class="{{active '/sprints'}}"><a href="{{pathFor 'sprints'}}">Sprints</a></li>
	    <li class="{{active '/settings'}}"><a href="{{pathFor 'settings'}}">Settings</a></li>
	    <li class="{{active '/clients'}}"><a href="{{pathFor 'clients'}}">Clients</a></li>
    </ul>
    
</template>

