<template name="settings">
	
	<div class="section-nav">
	    <a class="btn btn-large" href="settings"><i class="fa fa-info"></i>Configuration</a>
	    <a class="btn btn-large" href="settings/users"><i class="fa fa-road"></i>Users</a>
    </div>
	
	<div class="row">
	  {{> settings-config}}
	</div>
	
</template>


<template name="settings-config">

<div class="panel panel-default">
	 	 <!-- Default panel contents -->
	  	<div class="panel-heading">
		  	Configuration
	  	</div>
	  	<div class="panel-body">
	  	
		  	{{#with settings}}
			<form id="settingsForm" class="form-horizontal" autocomplete="off">
				<div class="form-group">
				 	<label class="control-label" for="inputEmail">Iteration Duration</label>
					<div class="controls">	
						<input class="span1 form-val" id="iterationLength" style="text-align:center;" name="duration" placeholder="Number" value="{{duration}}" type="text">
						<span style="display:inline-block; width:10px; text-align:center;">&nbsp;</span>
							<select class="span2 form-val" name="units" >
								{{#select units}}
								<option value="hours">Hours</option>
								<option value="days">Days</option>
								<option value="weeks">Weeks</option>
								<option value="months">Months</option>
								{{/select}}
							</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="inputEmail">Include Weekends</label>
					<div class="controls">
					    <label class="radio inline">
					    	{{#isChecked weekends}}<input name="weekends" class="form-val" type="radio" id="weekends1" value="yes">{{/isChecked}}  Yes
					    </label>
					    <label class="radio inline">
					    	{{#isChecked weekends}}<input name="weekends" class="form-val" type="radio" id="weekends2" value="no">{{/isChecked}}  No
					    </label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="inputEmail">Hours Per Day</label>
					<div class="controls">
					    <input class="span1 form-val" style="text-align:center;" name="hoursperday" placeholder="Hours" value="{{hoursperday}}" type="text">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="inputEmail">&nbsp;</label>
					<button type="submit" class="btn btn-primary submit">Save settings</button>
				</div>
			</form>
		    {{/with}}
    
	  	</div>
	</div>
	
</template>
