<template name="newClientFields">
	
	<div class="row">
		<div class="clearfix">
			{{#with quote.accountdetails}}
				{{> viewClientOverview}}
			{{/with}}
		</div>
		
		<div class="clearfix">
			{{#with quote.accountdetails}}
				{{> contactform}}
			{{/with}}
		</div>
	</div>
		
</template>


<template name="existingClientFields">

	<div class="form-group ">
		<label for="ff-client">Select account</label>
		<div>
		    <select name="ff-client" id="ff-client" class="form-control">
		   		<option value="">Please Choose</option>
				{{#each clientlist}}
					<option value="{{code}}" {{selectedAccount}}>{{name}}</option>
				{{/each}}
		   	</select>
	   	</div>
	 </div>
	 
	 <div class="form-group ">
		<label for="ff-customer">Select customer</label>
 		<select name="ff-customer" id="ff-customer" class="form-control">
	   		<option value="">Please Choose</option>
				{{#each selectedCustomerList}}
					<option value="{{email}}" {{selectedCustomer ../quote.accountdetails.customer}}>{{fname}} {{lname}}</option>
				{{/each}}
	   	</select>
	 </div>

</template>

<template name="accountRepFields">
	
	<div class="form-group ">
		<label for="ff-client">Assign Account Rep</label>
		<div class="form-group ">
			{{#each accountReps}}
				<label class="radio-inline">
				  <input type="radio" name="ff-accountrep" value="{{_id}}"> {{profile.name}}
				</label>
			{{/each}}
		</div>
	 </div>
	 
</template>