<template name="newClientFields">
	
	{{#with accountDetails}}
		<div class="row">
			<div class="clearfix">
				{{> viewClientOverview}}
			</div>
			
			<div class="clearfix">
				{{> contactform}}
			</div>
		</div>
	{{/with}}
	
</template>


<template name="existingClientFields">

	<div class="form-group ">
		<label for="ff-client">Select account</label>
		<div>
		    <select name="ff-client" id="ff-client" class="form-control">
		   		<option value="">Please Choose</option>
				{{#each accountList}}
					<option value="{{code}}" {{whichAccountChosen}}>{{name}}</option>
				{{/each}}
		   	</select>
	   	</div>
	 </div>
	 
	 {{#if selectedAccount}}
	 <div class="form-group ">
		<label for="ff-customer">Select customer</label>
 		<select name="ff-customer" id="ff-customer" class="form-control">
	   		<option value="">Please Choose</option>
				{{#each customerList}}
					<option value="{{email}}" {{whichCustomerChosen}}>{{fname}} {{lname}}</option>
				{{/each}}
	   	</select>
	 </div>
	{{/if}}
	
</template>

<template name="accountRepFields">
	
	<div class="form-group ">
		<label for="ff-client">Assign Account Rep</label>
		<div class="form-group ">
			{{#each accountReps}}
				<label class="radio-inline">
				  <input type="radio" name="ff-accountrep" value="{{_id}}" {{whichSelectedRep}}> {{profile.name}}
				</label>
			{{/each}}
		</div>
	 </div>
	 
</template>