<template name="support">
	
	{{> service_nav}}
	
	<div class="row">
	  
	  {{> support-list}}
	 
	</div>
	
</template>


<template name="support-list">
 
 	<div class="panel panel-default">
	 	 <!-- Default panel contents -->
	  	<div class="panel-heading">
		  	Support
		  	<div class="pull-right">
		  	<button type="button" class="btn btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
		  	<button type="button" class="btn btn-xs"><span class="glyphicon glyphicon-chevron-down"></span></button>
		  	</div>
	  	</div>
	  	<div class="panel-body">
	  	support
	  	</div>
	</div>
 
</template>