<template name="current">
	{{#if isReady}}
	<div id="current">
		<table class="iteration-table table table-bordered">
		<thead>
			<tr>
				<td class="calHeader">&nbsp;</td>
				<td class="calHeader">&nbsp;</td>
			{{#each grid.times}}
				<td class="calHeader"><div class="calHeaderDates"><div>{{this}}</div></div></td>
			{{/each}}
			</tr>
		</thead>
		<tbody id="interation-hours">
			{{#each arrayify grid.features}}
				<tr class="row-{{key}}">
					<td>{{value.name}}</td>
					<td class="sprint-total">0</td>
					{{#each arrayify grid.cells}}
						<td class="hour-cell column-{{key}}"><span>{{value}}</span></td>
					{{/each}}
				</tr>
			{{/each}}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				{{#each arrayify grid.cells}}
					<td class="column-{{key}}-total" >0</td>
				{{/each}}
			</tr>
		</tbody>
		</table>
	</div>
	{{else}}
		hold please
    {{/if}}
</template>