<template name="modal-feature-update">
	<input type="hidden" name="collection" value="Features">
	<input type="hidden" name="action" value="update">
	<input type="hidden" name="id" value="{{_id}}">
	<input type="hidden" name="order" class="modal-val" value="{{order}}">
	<div class="control-group">
		<label class="control-label" for="inputEmail">Feature Name</label>
		<div class="controls">
		<input type="text" name="name" placeholder="Feature Name" class="modal-val" value="{{name}}">
		</div>
	</div>

		<div class="control-group">
		<label class="control-label" for="inputEmail">Project</label>
		<div class="controls">
			<select name="project" class="modal-val">
				{{#select project}}
				<option value="Chroma Calendar" >Chroma Calendar</option>
				<option value="SAASafari Sales Website">SAASafari Sales Website</option>
				<option value="YMCA Web Sales Site">YMCA Web Sales Site</option>
				{{/select}}
			</select>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputEmail">Assigned To</label>
		<div class="controls">
		    <label class="radio inline">
		    	{{#isSelected assign}}<input name="assign" class="modal-val" type="radio" id="assign1" value="Billy">{{/isSelected}} Billy
		    </label>
		    <label class="radio inline">
		    	{{#isSelected assign}}<input name="assign" class="modal-val" type="radio" id="assign2" value="Chloe" >{{/isSelected}} Chloe
		    </label>
		    <label class="radio inline">
		   	 	{{#isSelected assign}}<input name="assign" class="modal-val" type="radio" id="assign3" value="Kristen" >{{/isSelected}} Kristen
		    </label>
  			<label class="radio inline">
		   	 	{{#isSelected assign}}<input name="assign" class="modal-val" type="radio" id="assign4" value="Andy" >{{/isSelected}} Andy
		    </label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="inputEmail">Feature Type</label>
		<div class="controls">
		    <label class="radio inline">
		    	{{#isSelected type}}<input name="type" class="modal-val" type="radio" value="feature">{{/isSelected}} Feature
		    </label>
		    <label class="radio inline">
		    	{{#isSelected type}}<input name="type" class="modal-val" type="radio" value="issue">{{/isSelected}} Issue
		    </label>
		    <label class="radio inline">
		    	{{#isSelected type}}<input name="type" class="modal-val" type="radio" value="release">{{/isSelected}} Release
		    </label>
		    <label class="radio inline">
		    	{{#isSelected type}}<input name="type" class="modal-val" type="radio" value="administrative">{{/isSelected}} Administrative
		    </label>
		</div>
	</div>
	
	
	<div class="control-group">
		<input type="hidden" value="{{estimate}}" id="estimate" name="estimate" class="modal-val estimate" />
		<label class="control-label" for="inputEmail">Estimate</label>
		<div id="estimate-label">{{estimate}}</div>
		<div class="slider span2" id="slider"></div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputEmail">Description</label>
		<div class="controls">
		    <textarea name="description" rows="3" class="modal-val">{{description}}</textarea>
		</div>
	</div>
	
	<fieldset class="fieldset">
	
		<legend>Tasks</legend>
	    <div class="input-append ">
		    <input  class="span5" type="text">
		    <button class="btn" type="button">Add</button>
	    </div>
	
	</fieldset>
	
	<fieldset class="fieldset">
	
		<legend>Activities</legend>
	    <div >
		    <textarea class="input-block-level" ></textarea>
		    <button class="btn pull-right" type="button">Add</button>
	    </div>
	
	</fieldset>
</template>