<template name="modal-client">
	<input type="hidden" name="collection" value="Clients">
	<input type="hidden" name="action" value="{{action}}">
	{{#if isUpdate}}
	<input type="hidden" name="id" value="{{_id}}">
	{{/if}}
	<div class="control-group">
		<label class="control-label" for="inputEmail">Client Name</label>
		<div class="controls">
		<input type="text" name="name" placeholder="Client Name" class="modal-val" value="{{name}}">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputEmail">Account Rep.</label>
		<div class="controls">
		    <label class="radio inline">
		    	{{#isSelected assign}}<input name="assign" class="modal-val" type="radio" id="assign1" value="Billy">{{/isSelected}} Billy
		    </label>
		    <label class="radio inline">
		    	{{#isSelected assign}}<input name="assign" class="modal-val" type="radio" id="assign2" value="Chloe" >{{/isSelected}} Chloe
		    </label>
		    <label class="radio inline">
		   	 	{{#isSelected assign}}<input name="assign" class="modal-val" type="radio" id="assign3" value="Kristen" >{{/isSelected}} Kristen
		    </label>
  			<label class="radio inline">
		   	 	{{#isSelected assign}}<input name="assign" class="modal-val" type="radio" id="assign4" value="Andy" >{{/isSelected}} Andy
		    </label>
		</div>
	</div>

	
</template>