/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar li
{
	text-align:center;
}
.navbar i, .section-nav i
{
	font-size:40px;
	display:block;
}

.navbar-inner 
{
	border-radius: 0 0 0 0;
	box-shadow: none;
}

.vertical-padding
{
	margin:10px 0;
}

.modal-body {
    max-height: none;
}

tr.ui-state-highlight
{
	display:table-row;
}

.sortable-item i
{
	color:#999;
}

.sortable-item .move {
    cursor: move;
}

.edit,.remove,.pull-remove { cursor: pointer; }

.calHeaderDates
{
	height: 75px;
    position: relative;
    width: 23px;
}

td.calHeader
{
	padding:0;
}
.calHeaderDates div
{
	-webkit-transform: rotate(270deg);
	-moz-transform:rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	
	bottom: 40px;
    position: absolute;
    right: -25px;
	text-transform: capitalize;
	line-height:0;
	font-size:100%;
	width: 75px;
	text-align:left;
}

.iteration-table.table
{
	max-width:none;
	width:auto;
}
.iteration-table td
{
	padding:0;
	text-align:center;
	vertical-align: middle;
}



.iteration-table td.sprint-feature
{
	text-align: left;
}

td.hour-cell span
{
	display:block;
	cursor:pointer;
}
td.hour-cell, td.sprint-total
{
	padding:5px;
}


#schedules .iteration-table td.active,
#schedules .iteration-table td.active input
{
	background-color:#FCF8E3;
}

input.hour-cell,
input.hour-cell:focus
{
	border:none;
	width:10px;
	box-shadow:none;
	transition:none;
	border-radius: 0 0 0 0;
	line-height:0;
	margin:-.5em 0;
	padding:0;
	text-align: center;
}

.day-0, .day-6
{
	background-color: #f3f3f3;
}

.datepicker{z-index:9999;}

.remove-milestone,
.ff-summaryitem
{
	cursor:pointer;
}

.control-icon
{
	margin-left:5px;
}

.sortable-items
{
	margin:0;
}

.table-centered .hour-cell
{
	text-align:center;
}

#schedules .day-end
{
	border-right: 2px solid #000;
}

.iteration-table td.align-left,
.align-left
{
	text-align:left;
}

.totals
{
	background-color:#e9f2f7;
}



#schedules .schedule-default
{
	background-color:#F9F9F9;
	color:#E1E1E1;
}

#schedules .schedule-good
{
	background-color: #eef3e9;
	color: #336600;
}

#schedules .schedule-danger
{
	background-color: #ffe4db;
	color: #D9534F;
}

.bgt-sales,
.bgt-service
{
	padding: 45px 15px 15px;
}


.bgt-sales:after {
    color: #BBBBBB;
    content: "Sales Items";
    font-size: 12px;
    font-weight: bold;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

.bgt-service:after {
    color: #BBBBBB;
    content: "Service Items";
    font-size: 12px;
    font-weight: bold;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}

.action-bar
{
	margin-bottom: 20px;
    margin-top: 20px;
}
.action-bar:after {
    color: #BBBBBB;
    content: "Create Action:";
    font-size: 12px;
    font-weight: bold;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}


.row-btm-brdr
{
	border-bottom:solid 1px #EEEEEE;
}

.bdr-right
{
	border-right:solid 1px #EEEEEE;
}

input.parsley-success, textarea.parsley-success {
  border-color: #3C763D;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
input.parsley-error, textarea.parsley-error {
  border-color: #A94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-group .form-inline .form-group 
{
	margin: 0;
    padding: 0 0 0 15px;
}

.form-group .form-inline .form-group.first
{
	margin: 0;
    padding: 0;
}

label.checkbox,label.radio
{
	font-weight:normal;
}


ul.vertical-padding li
{
	padding:10px 0;
}