<template name="client">
	
	<div class="col-lg-2 bdr-right">
		{{> clientsNav}}
	</div>
	
	<div class="col-lg-10">
	
		{{> layout_backbutton}}
		
		{{> clientForm}}
	</div>
	
</template>

<template name="clientForm">

	<div class="clearfix">
		<div class="pull-left"><p class="lead">Account</p></div>
	</div>	
	
	<div class="row clearfix">
		{{> viewClientOverview}}
	</div>
	
	<div class="clearfix vertical-padding">
			
		<div class="clearfix">
			<div class="pull-left"><p class="lead">Contacts</p></div>
		</div>	
	
		{{> viewContactList}}
				
	</div>
	
	<div class="btn-group">
		<button type="button" class="btn btn-primary save">Save Account</button>
	</div>

</template>


<template name="viewClientOverview">

	
		
	<div class="form-group col-lg-2">
		<label for="title" class="control-label">Code:</label>
		<div>
			<input id="account_code" type="text" class="form-control" placeholder="CHR" value="{{code}}">
		</div>
	</div>
	
	<div class="form-group col-lg-5">
		<label for="title" class="control-label">Name:</label>
		<div>
			<input id="account_name" type="text" class="form-control" placeholder="Chroma Technology Corp" value="{{name}}">
		</div>
	</div>
	
</template>


<template name="viewContactList">

	<div class="clearfix">
	{{#each contacts}}
		{{fname}} {{lname}} ( {{email}} )<br/>
	{{else}}
		There are no contacts for this account yet, add one below&hellip;
	{{/each}}
	</div>
	
	<hr/>
	
	<div class="row clearfix">
		{{> contactform}}
		{{> contactformbtn}}
	</div>
	
</template>

<template name="contactform">
	
	<div class="form-group col-lg-2">
		<label for="title" class="control-label">First Name:</label>
		<div>
			<input id="contact_fname" type="text" class="form-control" placeholder="Kate" >
		</div>
	</div>
	
	<div class="form-group col-lg-2">
		<label for="title" class="control-label">Last Name:</label>
		<div>
			<input id="contact_lname" type="text" class="form-control" placeholder="Guerrina" >
		</div>
	</div>
	
	<div class="form-group col-lg-3">
		<label for="title" class="control-label">Email:</label>
		<div>
			<input id="contact_email" type="text" class="form-control" placeholder="kguerrina@chroma.com">
		</div>
	</div>
	
</template>

<template name="contactformbtn">

	<div class="form-group col-lg-2">
		<label for="addContact" class="control-label">&nbsp;</label>
		<div>
			<button type="button" class="btn btn-primary addContact">Add</button>
		</div>
	</div>
	
</template>
