<template name="salesprocess">

	<div class="col-lg-1 bdr-right">
		{{> salesNav}}
	</div>
	<div class="col-lg-11">
	
		<div class="btn-group">
			<button type="button" class="btn btn-default back"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back</button>
			
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default archive"><i class="fa fa-download"></i> Archive</button>
		</div>
		
		<div class="">
			<hr/>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-7 bdr-right">
						
						{{#if inboxActive}}
							<div class="action-bar">
								<button type="button" data-action="lead" class="btn {{whichFormClass type 'lead'}} action ">Lead</button>
							  	<button type="button" data-action="opportunity" class="btn {{whichFormClass type 'opportunity'}} action">Opportunity</button>
							 	<button type="button" data-action="purchase" class="btn {{whichFormClass type 'purchase'}} action">Purchase</button>
							</div>
						{{/if}}
						
						{{#if inboxVerify}}
							<div class="action-bar">
								<button type="button" data-action="verify" class="btn {{whichFormClass type 'verify'}} action ">Verify</button>
							</div>
						{{/if}}
						
						
						{{#if action}}
							{{> salesProcessForm}}
						{{else}}
							{{> salesProcessContent}}
						{{/if}}
					</div>
					<div class="col-md-5">
						{{> salesProcessSummary}}
					</div>
				</div>
			</div>
		</div>
	
	</div>
	
</template>

<template name="salesProcessContent">
	
	{{#with thisInboxItem}}		
		
		<div class="vertical-padding">
			<p class="text-muted"><em>Sent on: {{fmtTimestamp sent}}</em><br/>
			From: {{sender}}</p>
			<h2 id="inbox-title">{{title}}</h2>
			<div id="inbox-description">
				{{breaklines description}}
			</div>
		</div>
		
		<div class="well well-sm">
			<ul class="list-unstyled">
			{{#each attachments}}
				<li>{{filename}} <a href="{{url}}" target="blank">(view)</a></li>
			{{/each}}
			</ul>
		</div>
		
	{{/with}}
	
</template>


<template name="salesProcessForm">

	<form id="ff-form" name="ff-form" role="form">
			
	{{#if showForm}}
	
			{{#if leadForm}}
				{{> leadForm}}
			{{/if}}
			
			{{#if opportunityForm}}
				{{> opportunityForm}}
			{{/if}}
			
			{{#if purchaseForm}}
				{{> purchaseForm}}
			{{/if}}
		
  	{{/if}}
	
	</form>
</template>

<template name="salesProcessSummary">

	<h3><i class="fa fa-share"></i> Action Items</h3>

	{{#if summaryData}}
	
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>To</th>
					<th>Type</th>
					<th>Title</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each summaryData}}
		 			<tr>
						<td>{{to}}</td>
						<td>{{type}}</td>
						<td>{{title}}</td>
						<td class="text-center">
							<i class="fa fa-times ff-summaryitem"></i>
						</td>
					</tr>
			  	{{/each}}
			</tbody>
		</table>
	
		<div class="forward-button">
			<button type="button" class="btn btn-success archive">Save and Archive</button>
		</div>
		
	{{else}}
		
		<div class="forward-button">
			<p>No actions yet.</p>
		</div>
		
	{{/if}}
	
</template>


<template name="leadForm">
	
	<input type="hidden" id="ff-to" name="ff-to" value="verify">
	
	{{#with thisInboxItem}}		
		
		<p class="text-muted"><em>Sent on: {{fmtTimestamp sent}}</em><br/>
		From: {{sender}}</p>
		
		<div class="form-group">
			<label for="title" class="sr-only">Title:</label>
			<div >
				<input id="ff-title" type="text" class="form-control" placeholder="John Doe" value="{{title}}" required>
			</div>
		</div>
		
		<div class="form-group">
		    <label for="Sent By" class="sr-only">Description:</label>
		    <div>
		      <textarea id="ff-description" class="form-control" placeholder="Notes" rows="10" required>{{description}}</textarea>
		    </div>
		</div>
		
		<div class="form-group">
			<label for="title" class="sr-only">Type:</label>
		    <div class="">
		    	<label class="radio-inline">
				  <input type="radio" name="type" id="leadType1" value="lead" required> <strong>Lead:</strong> no sales action required.
				</label>
				<label class="radio-inline">
				  <input type="radio" name="type" id="leadType2" value="prospect" > <strong>Prospect:</strong> sales action is required.
				</label>
		    </div>
		</div>
		
		<!-- 
		<div class="form-group">
			<label for="title" class="sr-only">Type:</label>
			<div>
				<label class="radio">
				  <input type="radio" name="type" id="leadType1" value="contact" required> <strong>Contact:</strong> May or may not ever have a need.
				</label>
				<label class="radio">
				  <input type="radio" name="type" id="leadType2" value="suspect" > <strong>Suspect:</strong> Has a possible need but has not expressed interest.
				</label>
				<label class="radio">
				  <input type="radio" name="type" id="leadType3" value="prospect" > <strong>Prospect:</strong> Has an immediate need and has expressed interest.
				</label>
			</div>
		</div>
		 -->
		 
		 
		<div class="well well-sm">
		    
			{{#each attachments}}
		    	<div class="checkbox">
			        <label>
			          <input type="checkbox" name="file_{{_id}}" value="{{_id}}" class="ff-attachment" checked="checked" /> {{filename}} <a href="{{url}}" target="blank">(view)</a>
			        </label>
			    </div>
			{{/each}}
	
		</div>
	
	{{/with}}
	
	<div class="form-group">
		<div>
			<button type="button" id="ff-submit" class="btn btn-primary"><i class="fa fa-download"></i> Save Action</button>
			<button type="button" class="btn btn-link cancel">Cancel</button>
	    </div>
	</div>

</template>

<template name="leadFormLarge">
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Contact Name:</label>
		<div class="col-lg-9">
			<input id="name" type="text" class="form-control" placeholder="John Doe" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Contact Title:</label>
		<div class="col-lg-9">
			<input id="title" type="text" class="form-control" placeholder="Marketing Director" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Company:</label>
		<div class="col-lg-9">
			<input id="company" type="text" class="form-control" placeholder="Acme Jewelers" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Address:</label>
		<div class="col-lg-9">
			<input id="address" type="text" class="form-control" placeholder="Suite 1000, Penny Lane" required>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9 form-inline">
			<div class="form-group col-lg-7 first">
				<input id="city" type="text" class="form-control" placeholder="Greenfield" required>
			</div>
			<div class="form-group col-lg-2">
				<input id="state" type="text" class="form-control" placeholder="MA" required>
			</div>
			<div class="form-group col-lg-3">
				<input id="postal" type="text" class="form-control" placeholder="Postal Code" required>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
			<input id="country" type="text" class="form-control" placeholder="USA" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Office Phone:</label>
		<div class="col-lg-9">
			<input id="office-phone" type="text" class="form-control" placeholder="(000) 000-0000" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Mobile Phone:</label>
		<div class="col-lg-9">
			<input id="mobile-phone" type="text" class="form-control" placeholder="(000) 000-0000" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Email:</label>
		<div class="col-lg-9">
			<input id="email" type="text" class="form-control" placeholder="jdoe@acmejewlers.com" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Website:</label>
		<div class="col-lg-9">
			<input id="website" type="text" class="form-control" placeholder="http://www.acmejewelers.com" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Industry:</label>
		<div class="col-lg-9">
			<input id="industry" type="text" class="form-control" placeholder="High-end Jewelers" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Market:</label>
		<div class="col-lg-9">
			<input id="market" type="text" class="form-control" placeholder="Snooty old ladies" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Referred By:</label>
		<div class="col-lg-9">
			<input id="referrer" type="text" class="form-control" placeholder="Referred By" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Opportunities:</label>
		<div class="col-lg-9">
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> Interactive Design/Development
			</label>
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Print/Packaging
			</label>
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> Marketing/Advertising
			</label>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Requests:</label>
		<div class="col-lg-9">
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> Setup an Appointment
			</label>
			
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Provide Samples of Work
			</label>
			
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> Provide a Quote/Proposal
			</label>
			
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> Respond to Questions
			</label>
			
		</div>
	</div>

	<div class="form-group">
	    <label for="Sent By" class="col-sm-3 control-label">Notes</label>
	    <div class="col-sm-9">
	      <textarea id="ff-description" class="form-control" placeholder="Notes" rows="5" required></textarea>
	    </div>
	</div>
 
	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
			<button type="button" id="ff-submit" class="btn btn-primary"><i class="fa fa-download"></i> Save</button>
			<button type="button" class="btn btn-link cancel">Cancel</button>
	    </div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
			<button type="button" id="provide-quote" class="btn btn-xs btn-default"><i class="fa fa-download"></i> Provide Quote</button>
	    </div>
	</div>
			
</template>

<template name="opportunityForm">
	opportunity form
</template>

<template name="purchaseForm">
	purchase form
</template>
