<template name="salesprocess">

	<div class="btn-group">
		<button type="button" class="btn btn-default back"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back</button>
		
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default archive"><i class="fa fa-download"></i> Archive</button>
	</div>
	
	<div class="">
		<hr/>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 bdr-right">
					{{> salesProcessContent}}
				</div>
				<div class="col-md-5 bdr-right forward-container {{actionClass action}}">
					{{> salesProcessForm}}
				</div>
				<div class="col-md-3">
					{{> salesProcessSummary}}
				</div>
			</div>
		</div>
	</div>
	
</template>

<template name="salesProcessContent">

	 
	<div class="btn-group forward-container pull-right {{actionClass action}}">
		<button type="button" class="btn btn-sm btn-default copyAll">Copy All <i class="fa fa-share"></i></button>
	</div>
	
	{{#with thisInboxItem}}		
		<p class="text-muted"><em>Sent on: {{fmtTimestamp sent}}</em><br/>
		From: {{sender}}</p>
		<h2 id="inbox-title">{{title}}</h2>
		<div id="inbox-description">
			{{breaklines description}}
		</div>
		
		<p>
		<strong>Attachments</strong><br/>
		{{#each attachments}}
			<a href="{{url}}" target="blank">{{filename}} ({{type}})</a><br />
		{{/each}}
		</p>
	{{/with}}
	
</template>


<template name="salesProcessForm">

	<form class="form-horizontal" id="contractForm" role="form">
	   <div class="form-group">
	    <label for="to" class="col-lg-3 control-label">Action:</label>
	    <div class="col-lg-9">
	    	<input id="ff-to" type="hidden" value="" />
			<button type="button" data-ff-to="leads" class="ff-to-button btn {{#if leadForm}}btn-success{{else}}btn-default{{/if}}"><i class="fa fa-money"></i> Leads</button>
			<button type="button" data-ff-to="contracts" class="ff-to-button btn {{#if contactForm}}btn-success{{else}}btn-default{{/if}}"><i class="fa fa-medkit"></i> Contracts</button>
			<button type="button" data-ff-to="quotes" class="ff-to-button btn {{#if quoteForm}}btn-success{{else}}btn-default{{/if}}"><i class="fa fa-medkit"></i> Quotes</button>
	    </div>
	  </div>
			
	{{#if showForm}}
	
			{{#if leadForm}}
				{{> leadForm}}
			{{/if}}
			
			{{#if contractForm}}
				{{> contractForm}}
			{{/if}}
			
			{{#if quoteForm}}
				{{> quoteForm}}
			{{/if}}
		
  	{{/if}}
	
	</form>
</template>

<template name="salesProcessSummary">

	<h3><i class="fa fa-share"></i> Action Items</h3>

	{{#if summaryData}}
	
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>To</th>
					<th>Title</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each summaryData}}
		 			<tr>
						<td>{{to}}</td>
						<td>{{title}}</td>
						<td class="text-center">
							<i class="fa fa-times ff-summaryitem"></i>
						</td>
					</tr>
			  	{{/each}}
			</tbody>
		</table>
	
		<div class="forward-button">
			<button type="button" class="btn btn-primary forward">New Action</button>
			<button type="button" class="btn btn-success archive">Save and Archive</button>
		</div>
		
	{{else}}
		
		<div class="forward-button">
			<p>No actions yet.</p>
			<p><button type="button" class="btn btn-primary forward">Create One</button></p>
		</div>
		
	{{/if}}
	
</template>

<template name="leadForm">
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Contact Name:</label>
		<div class="col-lg-9">
			<input id="name" type="text" class="form-control" placeholder="John Doe" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Contact Title:</label>
		<div class="col-lg-9">
			<input id="title" type="text" class="form-control" placeholder="Marketing Director" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Company:</label>
		<div class="col-lg-9">
			<input id="company" type="text" class="form-control" placeholder="Acme Jewelers" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Address:</label>
		<div class="col-lg-9">
			<input id="address" type="text" class="form-control" placeholder="Suite 1000, Penny Lane" required>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9 form-inline">
			<div class="form-group col-lg-7 first">
				<input id="city" type="text" class="form-control" placeholder="Greenfield" required>
			</div>
			<div class="form-group col-lg-2">
				<input id="state" type="text" class="form-control" placeholder="MA" required>
			</div>
			<div class="form-group col-lg-3">
				<input id="postal" type="text" class="form-control" placeholder="Postal Code" required>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
			<input id="country" type="text" class="form-control" placeholder="USA" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Office Phone:</label>
		<div class="col-lg-9">
			<input id="office-phone" type="text" class="form-control" placeholder="(000) 000-0000" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Mobile Phone:</label>
		<div class="col-lg-9">
			<input id="mobile-phone" type="text" class="form-control" placeholder="(000) 000-0000" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Website:</label>
		<div class="col-lg-9">
			<input id="website" type="text" class="form-control" placeholder="http://www.acmejewelers.com" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Industry:</label>
		<div class="col-lg-9">
			<input id="industry" type="text" class="form-control" placeholder="High-end Jewelers" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Market:</label>
		<div class="col-lg-9">
			<input id="market" type="text" class="form-control" placeholder="Snooty old ladies" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Referred By:</label>
		<div class="col-lg-9">
			<input id="referrer" type="text" class="form-control" placeholder="Referred By" required>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Opportunities:</label>
		<div class="col-lg-9">
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> Interactive Design/Development
			</label>
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Print/Packaging
			</label>
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> Marketing/Advertising
			</label>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="col-lg-3 control-label">Next Steps:</label>
		<div class="col-lg-9">
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> Provide a Quote
			</label>
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Provide Samples of Work
			</label>
			<label class="checkbox">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> Setup an Appointment
			</label>
		</div>
	</div>

	<div class="form-group">
	    <label for="Sent By" class="col-sm-3 control-label">Notes</label>
	    <div class="col-sm-9">
	      <textarea id="ff-description" class="form-control" placeholder="Notes" rows="5" required></textarea>
	    </div>
	</div>
 
	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
			<button type="button" id="ff-submit" class="btn btn-primary"><i class="fa fa-download"></i> Save</button>
			<button type="button" class="btn btn-link cancel">Cancel</button>
	    </div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
			<button type="button" id="provide-quote" class="btn btn-xs btn-default"><i class="fa fa-download"></i> Provide Quote</button>
	    </div>
	</div>
			
</template>

<template name="quoteForm">
	quotes
</template>

<template name="contractForm">
	contracts
</template>
