<template name="sprints">

	<div class="row-fluid ">
		<div class="vertical-padding pull-right">
			<button class="btn btn-success btn-large modalButton" type="button" id="newFeature"><i class="icon-thumbs-up icon-white"></i> New Feature</button>
		</div>
	</div>
   
	<div class="row-fluid ">
		<div class="span12">
		{{#each iterationList}} 
			<fieldset>
			<legend>{{iteration.start}}&mdash;{{iteration.end}}:<span class="pull-right">{{iteration.hoursUsed}} total hours ({{iteration.percentUtilized}}% team utilization)</span></legend>
			<div class="row-fluid">
				<div class="sortable-items span12">
					{{#each features}}
		    		<div class="row-fluid feature-item sortable-item" id="{{_id}}">
		    			<ul>
				    		<li class="span1 move"><i class="icon-move"></i></li>
				    		<li class="span2">{{name}}</li>
				    		<li class="span2">{{assign}}</li>
				    		<li class="span1">{{estimate}}</li>
				    		<li class="span2">{{project}}</li>
				    		<li class="span2">{{type}}</li>
				    		<li class="span1 edit"><i class="icon-edit"></i></li>
				    		<li class="span1 remove"><i class="icon-remove"></i></li>
			    		</ul>
		    		</div>
		    		{{/each}}
	    		</div>
    		</div>
    		</fieldset>
	    {{/each}}
	    </div>
	</div>
	
    {{#if getSession 'showModal'}}
		{{> sprint}}
	{{/if}}
	
</template>