<template name="inboxprocess">

	<div class="row">
		<div class="col-md-6">{{> inboxprocess-content}}</div>
		<div class="col-md-6">{{> inboxprocess-items}}</div>
	</div>

</template>

<template name="inboxprocess-content">
	
	<div class="panel panel-default">
	 	 <!-- Default panel contents -->
	  	<div class="panel-heading">
		  	Content
		  	<div class="pull-right">
		  	<button type="button" class="btn btn-xs removeHighlights"><span class="glyphicon glyphicon-minus-sign"></span> Remove Highlights</button>
		  	</div>
	  	</div>
	  	<div class="panel-body">
	  		{{> inboxitem}}
	  	</div>
	</div>
	
</template>

<template name="inboxprocess-items">
	
	<div class="panel panel-default">
	 	 <!-- Default panel contents -->
	  	<div class="panel-heading">
		  	Items
		  	<div class="pull-right">
		  	
			  	<div class="btn-group">
				  <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
				    Add <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li class="divider"></li>
				    <li><a href="#">SALES</a></li>
				    <li class="divider"></li>
				    <li><a href="lead" class="processitem-type">Lead</a></li>
				    <li><a href="quote" class="processitem-type">Quote</a></li>
				    <li class="divider"></li>
				    <li><a href="#">SERVICE</a></li>
				    <li class="divider"></li>
				    <li><a href="request" class="processitem-type">Request</a></li>
				    <li><a href="support" class="processitem-type">Support</a></li>
				    <li><a href="problem" class="processitem-type">Problem</a></li>
				  </ul>
				</div>
		  	
		  	</div>
		  	
	  	</div>
	  	<div class="panel-body">
	  		
	  	</div>
	</div>
	
</template>