<template name="quotebuild">
	
	<div class="col-lg-1 bdr-right">
		{{> serviceNav}}
	</div>
	
	<div class="col-lg-11">
	
		<div class="btn-group">
			<button type="button" class="btn btn-default back"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back</button>
			
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default archive"><i class="fa fa-download"></i> Archive</button>
		</div>
		
		<div class="">
			<hr/>
		</div>
		
		<div class="row">
			
			<div class="col-md-12">
				<p class="lead">Project Quotation<br/><small class="text-muted"><em>{{quoteItem.company}}</em></small></p>
			</div>
		
			<div class="col-md-12">
			
				<div class="row">
				
					<div class="col-md-12 multistep-nav">
						
						<ul class="nav nav-tabs">
							<li class="active"><a href=#" data-action="overview" class="step">Overview</a></li>
							<li><a href=#" data-action="scope" class="step">Scope</a></li>
							<li><a href=#" data-action="assumptions" class="step">Assumptions</a></li>
							<li><a href=#" data-action="features" class="step">Features</a></li>
						</ul>
						
					</div>
					
					<div class="col-md-12 bdr-right">
						
						{{#if step}}
						
							<form id="buildquoteform">
							{{#if scopeStep}}
								{{> scopeStep}}
							{{/if}}
							
							{{#if assumptionsStep}}
								{{> assumptionsStep}}
							{{/if}}
							</form>
							
							{{#if featuresStep}}
								{{> featuresStep}}
							{{/if}}
							
						{{else}}
							<form id="buildquoteform">
								{{> quoteMain}}
							</form>
						{{/if}}
						
					</div>
				
					
				
				</div>
			
			</div>
		
		</div>
	
	</div>

</template>


<template name="quoteMain">
	
	<input type="hidden" name="step" id="ff-step" value="overview" />
	<div class="form-group">
		<label for="title" class="control-label">Project Title:</label>
		<div >
			<input id="ff-title" type="text" class="form-control" placeholder="John Doe" value="{{quoteItem.title}}" required>
		</div>
	</div>
	
	<div class="form-group">
	    <label for="Sent By" class="control-label">Project Overview:</label>
	    <div>
	      <textarea id="ff-description" class="form-control" placeholder="Notes" rows="5" required>{{quoteItem.description}}</textarea>
	    </div>
	</div>
	
	<div class="form-group">
	    <label for="Sent By" class="control-label">Project Purpose:</label>
	    <div>
	      <textarea id="ff-purpose" class="form-control" placeholder="Notes" rows="3" required>{{quoteItem.purpose}}</textarea>
	    </div>
	</div>
	
	<div class="form-group">
		<label for="title" class="control-label">Weight:</label>
		<div >
			<label class="radio-inline">
			  <input type="radio" id="weight1" name="weight" value="optimistic" {{isRadioChecked 'optimistic' quoteItem.weight}} required> Optimistic
			</label>
			<label class="radio-inline">
			  <input type="radio" id="weight2" name="weight" value="pessimistic" {{isRadioChecked 'pessimistic' quoteItem.weight}}> Pessimistic
			</label>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="control-label">Size:</label>
		<div >
			<label class="radio-inline">
			  <input type="radio" id="size1" name="size" value="large" {{isRadioChecked 'large' quoteItem.size}} required> Large
			</label>
			<label class="radio-inline">
			  <input type="radio" id="size2" name="size" value="medium" {{isRadioChecked 'medium' quoteItem.size}}> Medium
			</label>
			<label class="radio-inline">
			  <input type="radio" id="size3" name="size" value="small" {{isRadioChecked 'small' quoteItem.size}}> Small
			</label>
		</div>
	</div>
	
	<div class="form-group">
		<label for="title" class="control-label">Instinctive Estimate:</label>
		<div class="input-group">
			<span class="input-group-addon">Hours</span>
		  	<input id="ff-instinct" type="text" class="form-control" placeholder="Instinctive estimate of total hours" value="{{quoteItem.instinctEstimate}}" required>
		</div>
	</div>
	
	<div class="form-group">
		<div class="">
			<button type="submit" id="ff-submit" data-action="scope" class="btn btn-primary stepsave">Save &amp; Next <i class="fa fa-share"></i></button>
			<button type="button" class="btn btn-link cancel">Cancel</button>
	    </div>
	</div>
	 
</template>


<template name="scopeStep">
	
	<input type="hidden" name="step" id="ff-step" value="scope" />
	
	<div class="row ">
		<div class="col-md-12">
		
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
					    <label for="Sent By" class="control-label">What is included:</label>
					    <div>
					      <textarea id="ff-included" class="form-control" name="ff-included" placeholder="List each on one line" rows="10" required>{{quoteItem.scope.included}}</textarea>
					    </div>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="form-group">
					    <label for="Sent By" class="control-label">What is Not included:</label>
					    <div>
					      <textarea id="ff-notincluded" class="form-control" name="ff-notincluded"  placeholder="List each on one line" rows="10" required>{{quoteItem.scope.notincluded}}</textarea>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="">
			<button type="submit" id="ff-submit" data-action="assumptions" class="btn btn-primary stepsave">Save &amp; Next <i class="fa fa-share"></i></button>
			<button type="button" class="btn btn-link cancel">Cancel</button>
	    </div>
	</div>
	
</template>

<template name="assumptionsStep">

	<input type="hidden" name="step" id="ff-step" value="assumptions" />
	
	<div class="form-group">
	    <label for="Sent By" class="control-label">Assumptions:</label>
	    <div>
	      <textarea id="ff-assumptions" class="form-control" placeholder="List each on one line" rows="10" required>{{quoteItem.assumptions}}</textarea>
	    </div>
	</div>
					
	<div class="form-group">
		<div class="">
			<button type="submit" id="ff-submit" data-action="features" class="btn btn-primary stepsave">Save &amp; Next <i class="fa fa-share"></i></button>
			<button type="button" class="btn btn-link cancel">Cancel</button>
	    </div>
	</div>

</template>

<template name="featuresStep">

	<div class="row">
	
		<div class="col-md-3 bdr-left">
			<p class="lead">Feature Set</p>
			
			<form id="newFeatureSet" name="newFeatureSet">
				<div class="form-group">
				    <label for="Sent By" class="">Set Level:</label>
				    <div>
				      	<select name="fsf-level" id="fsf-level" class="form-control" required>
				    		<option value="major">Major</option>
				    	</select>
				    </div>
				</div>
				<div class="form-group">
					<label for="title" class="control-label">Set Title:</label>
					<div >
						<input id="fsf-title" type="text" class="form-control" placeholder="Design" value="" required>
					</div>
				</div>
				<div class="form-group">
					<div>
						<button type="button" id="fsf-submit" class="btn btn-primary"><i class="fa fa-download"></i> Add Set</button>
				    </div>
				</div>
			</form>
		</div>
		
		<div class="col-md-6 bdr-left">
			<form id="buildquoteform">
				<input type="hidden" name="step" id="ff-step" value="features" />
				<p class="lead">Features</p>
				
				<div class="col-lg-12">
					<div class="row">
						{{#each quoteItem.sets}}
							<div class="panel panel-default">
							  <div class="panel-heading">{{title}}</div>
							  <div class="panel-body ">
							    <div class="sortable-items col-md-12 ui-sortable"></div>
							  </div>
							</div>
						{{else}}
								add some sets
						{{/each}}
					</div>
				</div>
				
				<div class="col-lg-12">
					<div class="row">
						<div class="sortable-items col-md-12 ui-sortable">
							{{#each quoteItem.features}}
								<div class="row feature-item sortable-item">
									<div>
										<div class="col-lg-1 move"><i class="fa fa-arrows sortFeatures"></i></div>
										<div class="col-lg-6">{{title}}</div>
									 	<div class="col-lg-2 text-center">{{estimate}}</div>
									 	<div class="col-lg-2 text-center">{{experience}}</div>
									 	<div class="col-lg-1 text-center"><i class="fa fa-times removeFeature"></i></div>
									</div>
								 </div>
							{{/each}}
						</div>
					</div>
				</div>
				
				<div class="col-lg-12">
					
					<div class="col-lg-7">
						<input id="ff-featureTitle" type="text" class="form-control" placeholder="Feature Name" value="" required>
					</div>
					<div class="col-lg-2">
						<select name="ff-featureEstimate" id="ff-featureEstimate" class="form-control" required>
				    		<option value="">Hours</option>
				    		<option value=".1">0.1 hours</option>
				    		<option value=".3">0.3 hours</option>
				    		<option value=".5">0.5 hours</option>
				    		<option value="1">1.0 hours</option>
				    		<option value="3">3.0 hours</option>
				    		<option value="5">5.0 hours</option>
				    		<option value="10">10 hours</option>
				    		<option value="30">30 hours</option>
				    		<option value="50">50 hours</option>
				    	</select>
					</div>
					<div class="col-lg-2">
						<select name="ff-featureExperience" id="ff-featureExperience" class="form-control" required>
				    		<option value="">DOE</option>
				    		<option value="5">5</option>
				    		<option value="4">4</option>
				    		<option value="3">3</option>
				    		<option value="2">2</option>
				    		<option value="1">1</option>
				    	</select>
					</div>
					<div class="col-lg-2">
						<button type="button" id="addFeature" class="btn btn-default">Add</button>
					</div>
				
				</div>
				
			</form>
		</div>
		
		<div class="col-md-3 bdr-left">
			<p class="lead">Summary</p>
			
			<form id="quoteSummary">
			
			<table class="table table-condensed">
			
			<tr>
				<td colspan="2" class="td-label">Use Instinct Estimate</td>
				<td class="text-right ">
					<div class="btn-group">
					  <button type="button" id="toggleEstModel-ON" data-action="on" class="btn {{whichEstBtn 'instinct'}} toggleEstModel">On</button>
					  <button type="button" id="toggleEstModel-OFF" data-action="off" class="btn {{whichEstBtn 'features'}} toggleEstModel">Off</button>
					</div>

				</td>
			</tr>
			
			
			<tr>
				<td colspan="2" class="td-label">Estimated Hours</td>
				<td class="text-center ">
					<div class="input-group">
						<input class="form-control" name="ff-subtotal" value="{{estvalue}}" />
						<span class="input-group-addon">Hrs</span>
					</div>
				</td>
			</tr>
			
			<tr>
				<td><input id="includeEnv" type="checkbox" class="quoteExtraToggle" name="includeEnv" {{isBooleanChecked quoteItem.extra.includeEnv}} /></td>
				<td class="td-label">Environment </td>
				<td class="text-center">
					<select class="form-control input-sm quoteExtraVal" id="valueEnv">
						{{#select quoteItem.extra.valueEnv}}
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
						{{/select}}
					</select>
				</td>
			</tr>
			
			<tr>
				<td><input id="includeConcept" type="checkbox" class="quoteExtraToggle" name="includeConcept" {{isBooleanChecked quoteItem.extra.includeConcept}} /></td>
				<td class="td-label">Concept</td>
				<td class="text-center">
					<select class="form-control input-sm quoteExtraVal" id="valueConcept" >
						{{#select quoteItem.extra.valueConcept}}
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
						{{/select}}
					</select>
				</td>
			</tr>
			
			<tr>
				<td><input id="includePM" type="checkbox" class="quoteExtraToggle" name="includePM" {{isBooleanChecked quoteItem.extra.includePM}} /></td>
				<td class="td-label">Project Management</td>
				<td class="text-center">
					<select class="form-control input-sm quoteExtraVal" id="valuePM">
						{{#select quoteItem.extra.valuePM}}
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
						{{/select}}
					</select>
				</td>
			</tr>
			
			<tr>
				<td><input id="includeConfig" type="checkbox" class="quoteExtraToggle" name="includeConfig" {{isBooleanChecked quoteItem.extra.includeConfig}} /></td>
				<td class="td-label">Configuration</td>
				<td class="text-center">
					<select class="form-control input-sm quoteExtraVal" id="valueConfig" >
						{{#select quoteItem.extra.valueConfig}}
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
						{{/select}}
					</select>
				</td>
			</tr>
			
			<tr>
				<td><input id="includeTesting" type="checkbox" class="quoteExtraToggle" name="includeTesting" {{isBooleanChecked quoteItem.extra.includeTesting}} /></td>
				<td class="td-label">Testing & Quality</td>
				<td class="text-center">
					<select class="form-control input-sm quoteExtraVal" id="valueTesting" >
						{{#select quoteItem.extra.valueTesting}}
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
						{{/select}}
					</select>
				</td>
			</tr>
			
			<tr>
				<td><input id="includeDeploy" type="checkbox" class="quoteExtraToggle" name="includeDeploy" {{isBooleanChecked quoteItem.extra.includeDeploy}} /></td>
				<td class="td-label">Deployment</td>
				<td class="text-center">
					<select class="form-control input-sm quoteExtraVal" id="valueDeploy" >
						{{#select quoteItem.extra.valueDeploy}}
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
						{{/select}}
					</select>
				</td>
			</tr>
			
			<tr>
				<td><input id="includeTraining" type="checkbox" class="quoteExtraToggle" name="includeTraining" {{isBooleanChecked quoteItem.extra.includeTraining}} /></td>
				<td class="td-label">Training</td>
				<td class="text-center">
					<select class="form-control input-sm quoteExtraVal" id="valueTraining">
						{{#select quoteItem.extra.valueTraining}}
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
						{{/select}}
					</select>
				</td>
			</tr>
			
			
			<tr>
				<td><input id="includeUnForeseen" type="checkbox" class="quoteExtraToggle" name="includeUnForeseen" {{isBooleanChecked quoteItem.extra.includeUnForeseen}} /></td>
				<td class="td-label">Unforeseen Problems</td>
				<td class="text-center">
					<select class="form-control input-sm quoteExtraVal" id="valueUnForeseen" >
						{{#select quoteItem.extra.valueUnForeseen}}
							<option value="5">5%</option>
							<option value="10">10%</option>
							<option value="15">15%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
						{{/select}}
					</select>
				</td>
			</tr>
			
			
			<tr>
				<td colspan="2"><p class="lead">Final</p></td>
				<td class="text-right"><p class="lead">{{moneyFormat quoteItem.estTotal}}</p></td>
			</tr>
			<tr>
				<td colspan="2"><p class="lead">Duration</p></td>
				<td class="text-right"><p class="lead">1 Weeks</p></td>
			</tr>
			</table>
			
			<div class="form-group">
				<div class="">
					<button type="submit" id="ff-savequote" data-action="complete" class="btn btn-success">Save Quote</button>
					<button type="button" class="btn btn-link cancel">Cancel</button>
			    </div>
			</div>
			
			</form>
			
		</div>
	</div>
	
	
</template>
