<template name="service">
	
	<div class="col-lg-1 bdr-right">
		{{> serviceNav}}
	</div>
	<div class="col-lg-11">
		{{#if items}}
			<table class="table table-hover" >
		    	<thead>
		    		<tr>
			    		<td>Status</td>
			    		<td>Title</td>
			    		<td>Time</td>
			    		<td>Sender</td>
		    		</tr>
		    	</thead>
		    	<tbody class="sortable-items">
			    	{{#each items}}
			    		<tr class="process">
				    		<td>{{status}}</td>
				    		<td>{{title}}</td>
				    		<td>{{fmtTimestamp sent}}</td>
				    		<td>{{sender}}</td>
			    		</tr>
			   		{{/each}}
		    	</tbody>
		    </table>
		{{else}}
			<div>
				<h3>Good work.</h3>
				<p class="lead">There's nothing to do here.</p>
			</div>
		{{/if}}
	</div>
	
</template>

<template name="serviceNav">
		
	<div class="vertical-padding">
		<button class="btn btn-danger btn-large" type="button" id="newRequest"><i class="fa fa-thumbs-up fa fa-white"></i> New Item</button>
	</div>
	
	<div class="vertical-padding">
		<ul class="nav nav-pills nav-stacked">
			<li class="{{activeServiceInbox 'active'}}"><a href="#" data-action="active" class="inbox"><span class="badge pull-right">{{counter 'active' 'Service'}}</span>Inbox</a></li>
			<li class="{{activeServiceInbox 'quote'}}"><a href="#" data-action="quote" class="inbox"><span class="badge pull-right">{{counter 'quote' 'Service'}}</span>Quote</a></li>
			<li class="{{activeServiceInbox 'support'}}"><a href="#" data-action="support" class="inbox"><span class="badge pull-right">{{counter 'support' 'Service'}}</span>Support</a></li>
			<li class="{{activeServiceInbox 'problem'}}"><a href="#" data-action="problem" class="inbox"><span class="badge pull-right">{{counter 'problem' 'Service'}}</span>Problem</a></li>
		</ul>
	</div>
    
</template>