<template name="service">
	
	<div class="row-fluid clearfix">
		<div class="vertical-padding">
			<h1>Service Inbox
			<button class="btn btn-success btn-large modalButton pull-right" type="button" id="newRequest"><i class="fa fa-thumbs-up fa fa-white"></i> New Item</button>
			</h1>
		</div>
	</div>
	
	<div class="row-fluid clearfix">
		
		<table class="table table-striped" >
	    	<thead>
	    		<tr>
		    		<td>Status</td>
		    		<td>Subject</td>
		    		<td>Time</td>
		    		<td>Sender</td>
		    		<td>&nbsp;</td>
	    		</tr>
	    	</thead>
	    	<tbody class="sortable-items">
		    	
	    	</tbody>
	    </table>
	    
	</div>
	
</template>


<template name="service_nav">

	<div class="section-nav">
	    <a class="btn btn-large" href="{{pathFor 'service'}}"><i class="fa fa-medkit"></i>Dashboard</a>
	    <a class="btn btn-large" href="{{pathFor 'requests'}}"><i class="fa fa-bullhorn"></i>Requests</a>
	    <a class="btn btn-large" href="{{pathFor 'support'}}"><i class="fa fa-heart"></i>Support</a>
	    <a class="btn btn-large" href="{{pathFor 'problems'}}"><i class="fa fa-bug"></i>Problems</a>
	    <a class="btn btn-large" href="{{pathFor 'preventive'}}"><i class="fa fa-shield"></i>Preventive</a>
    </div>
    
</template>