<template name="operations">
	
	{{> operations_nav}}
	
	<div class="row">
		operations
	</div>
	
</template>


<template name="operations_nav">

	<div class="section-nav">
	    <a class="btn btn-large" href="{{pathFor 'service'}}"><i class="fa fa-medkit"></i>Dashboard</a>
	    <a class="btn btn-large" href="{{pathFor 'requests'}}"><i class="fa fa-bullhorn"></i>Requests</a>
	    <a class="btn btn-large" href="{{pathFor 'support'}}"><i class="fa fa-heart"></i>Support</a>
	    <a class="btn btn-large" href="{{pathFor 'problems'}}"><i class="fa fa-bug"></i>Problems</a>
    </div>
    
</template>